html{
    overflow-x: hidden;
}
body{
    margin: 0;
}
.banner img{
    width: 70%;
    height: auto;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    position: absolute;
    top: 7255px;
    left: 280px;
}
.main{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
} 
.main img{
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
}
@media screen and (max-width: 1890px) {
    .banner img{
        width: 60%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 7150px;
        left: 380px;
    } 
}
@media screen and (max-width: 1200px) {
    .banner img{
        width: 50%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 4590px;
        left: 300px;
    }
}
@media screen and (max-width: 1080px) {
    .banner img{
        width: 60%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 4090px;
        left: 200px;
    }
}
@media screen and (max-width: 1024px) {
    .banner img{
        width: 60%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 3900px;
        left: 200px;
    }
}
@media screen and (max-width: 800px) {
    .banner img{
        width: 50%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 2990px;
        left: 190px;
    }  
}
@media screen and (max-width: 500px) {
    .banner img{
        width: 50%;
        height: auto;
        text-align: center;
        overflow: hidden;
        background-size: cover;
        position: absolute;
        top: 1890px;
        left: 120px;
    }
}
